.text {
    flex: 1;
    width: 620px;
    margin-right: 48px;
}

.text h1 {
    margin-bottom: 16px;
    text-align: left;
    font-size: 60px;
    line-height: 68px;
    font-weight: 600;
}

.text h2 {
    margin-bottom: 34px;
    font-size: 24px;
    font-weight: normal;
    opacity: 0.9;
}

.para {
    display: block;
}

.text p {
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
}

p {
    margin: 0 0 20px 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

